@import "@economist/component-palette";
@import "@economist/component-typography";

html {
  scroll-behavior: smooth;
}
/* Adding temporary basic responsiveness */
@custom-media --viewport-medium (width <= 762px);
@custom-media --viewport-big (width >= 763px);

.library {
  background: white;
  margin: 0;
  font-family: sans-serif;
  position: relative;
  min-height: 90vh;
}

.anchor {
  position: absolute;
  top: -62px;
}

/*.library:first-child .anchor {
  top: -20px;
  border: solid green 1px;
}*/



#mfPreviewBar {
  display: none;
}

.library--sidebar {
  background-color: var(--color-kiev);
  min-width: 200px;
  position: fixed;
  width: 100%;
  z-index: 100000000;
}

.library--economist-logo {
  float: left;
  display: block;
}

.library--title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75rem;
  margin: 0;
  display: inline-block;
  text-transform: capitalize;
}

.library--package-details {
  font-size: 1.1rem;
  font-weight: normal;
  display: inline-block;
  margin: 0 .5rem;
  opacity: .5;
}

@media (--viewport-medium){
  .library--title {
    display: block;
    padding: 0 1rem;
  }
  .library--package-details {
    font-size: 14px;
  }
  .library__grid {
    display: none;
  }
}


.library--heading {
  display: block;
  background: #E60900;
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
  box-sizing: border-box;
  width: 100%;
}

.library--example-wrapper {
  padding: 1rem;
}

.library--example-tabs {
  margin-top: 1rem;
}

.library--example-tabs .tabs-navigation {
  padding: 0 20px;
  margin: 0 -1rem;
  border-bottom: 1px solid #7A7A7A;
}

.library--example-tabs .tabs-menu {
  display: table;
  list-style: none;
  padding: 0;
  margin: 0;
}

.library--example-tabs .tabs-menu-item {
  float: left;
}

.library--example-tabs .tabs-menu-item a {
  display: block;
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  border-bottom: 0;
  color: #7A7A7A;
  font-size: 18px;
}

.library--example-tabs .tabs-menu-item:not(.is-active) a:hover {
  color: #E60900;
}

.library--example-tabs .tabs-menu-item.is-active a {
  background: #fff;
  border: 1px solid #7A7A7A;
  border-top: 2px solid #E60900;
  border-bottom: 0;
  color: #333;
  box-sizing: border-box;
}

.library--example-tabs .tab-panel {
  margin: 1rem 0 0;
}

.library--example-tabs .tabs-panel.is-active {
  display: block;
}

.library__component-list {
  margin: 0.7em;
  font-size: var(--text-size-step-1);
  text-transform: capitalize;
}

.library--main {
  padding-top: 62px;
}

@media (--viewport-medium) {
  .library {
    margin: 0;
  }
  .library--main {
    width: 100%;
    display: block;
  }
  .library--economist-logo {
    width: 60px;
    height: 60px;
  }
  .library__typography .tab-panel {
    max-height: 400px;
    overflow: scroll;
  }
  .library .tab-panel {
    padding: 10px 0px;
  }
  .library--example-tabs .tabs-navigation {
    padding: 0;
  }
  /* No mobile version for this component */
  .library__sections-card {
    display: none;
  }
}

.library--description {
  margin-bottom: 15px;
  font-size: 16px;
}
