@import '@economist/component-palette';
@import '@economist/component-typography';

/* stylelint-disable selector-no-type */

html {
  scroll-behavior: smooth;
}

@custom-media --viewport-medium (width <= 762px);
@custom-media --viewport-big (width >= 763px);

.library {
  position: relative;
  min-height: 90vh;
  margin: 0;
  font-family: sans-serif;
  background: #fff;
}

.anchor {
  position: absolute;
  top: -62px;
}

.library--sidebar {
  position: fixed;
  width: 100%;
  min-width: 200px;
  background-color: var(--color-kiev);
  z-index: 100000000;
}

.library--economist-logo {
  float: left;
  display: block;
}

.library--title {
  display: inline-block;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75rem;
  text-transform: capitalize;
}

.library--package-details {
  opacity: 0.5;
  display: inline-block;
  margin: 0 0.5rem;
  font-size: 1.1rem;
  font-weight: normal;
}

@media (--viewport-medium) {
  .library--title {
    display: block;
    padding: 0 1rem;
  }
  .library--package-details {
    font-size: 14px;
  }
  .library__grid {
    display: none;
  }
}


.library--heading {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  color: #fff;
  font-size: 1.2rem;
  background: #e60900;
}

.library--example-wrapper {
  padding: 1rem;
}

.library--example-tabs {
  margin-top: 1rem;
}

.library--example-tabs .tabs-navigation {
  margin: 0 -1rem;
  padding: 0 20px;
  border-bottom: 1px solid #7a7a7a;
}

.library--example-tabs .tabs-menu {
  display: table;
  margin: 0;
  padding: 0;
  list-style: none;
}

.library--example-tabs .tabs-menu-item {
  float: left;
}

.library--example-tabs .tab-panel {
  margin: 1rem 0 0;
}

.library--example-tabs .tabs-panel.is-active {
  display: block;
}

.library__component-list {
  margin: 0.7em;
  font-size: var(--text-size-step-1);
  text-transform: capitalize;
}

.library--main {
  padding-top: 62px;
}

@media (--viewport-medium) {
  .library {
    margin: 0;
  }
  .library--main {
    display: block;
    width: 100%;
  }
  .library--economist-logo {
    width: 60px;
    height: 60px;
  }
  .library__typography .tab-panel {
    overflow: scroll;
    max-height: 400px;
  }
  .library .tab-panel {
    padding: 10px 0;
  }
  .library--example-tabs .tabs-navigation {
    padding: 0;
  }
  /* No mobile version for this component */
  .library__sections-card {
    display: none;
  }
}

.library--description {
  margin-bottom: 15px;
  font-size: 16px;
}
